
input[type=text], 
    input[type=password] { 
        width: 100%; 
        padding: 12px 20px; 
        margin: 8px 0; 
        display: inline-block; 
        border: 1px solid #ccc; 
        box-sizing: border-box; 
    } 
    button { 
        background-color: #4CAF50; 
        color: white; 
        padding: 14px 20px; 
        margin: 8px 0; 
        border: none; 
        cursor: pointer; 
        width: 100%; 
    } 
    button:hover { 
        opacity: 0.8; 
    } 
    .cancelbtn { 
        background-color: #f44336;
        color: white; 
        padding: 14px 20px; 
        margin: 8px 0;
        border: none; 
        cursor: pointer; 
        width: 150px;
    }
    .table_body{
        margin:50px 50px 50px 50px;
    }
    .container{
        background-color: mediumturquoise;
        height:400px;
        width:400px;
        margin-top: 100px;
        border:1px #CCC solid;
        padding:10px;
    }
    .topnav {
        overflow: hidden;
      }
      
    .topnav a {
        float: left;
        margin:0px 100px 0px 0px;
        color: #0c0c0c;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
    .topnav a:hover {
        background-color: rgb(170, 168, 168);
        color: black;
      }
      
    .topnav a.active {
        background-color: #4CAF50;
        color: white;
      }
      
body{
    background-image:url(loginimg.jpg);
}      